[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LimnoPalettes"]
	path = LimnoPalettes
	url = https://github.com/swampthingpaul/limnopalettes
[submodule "NADA2"]
	path = NADA2
	url = https://github.com/swampthingpaul/nada2
